<h3>All registered users:</h3>
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">FinstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Role</th>
                <th scope="col">LoginTime</th>
                <th scop="col">LogoutTime</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of collection.data | paginate: config">

                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.role}}</td>
                <td>{{user.loginTime}}</td>
                <td>{{user.logoutTime}}</td>
                
            </tr>

        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>